/* Base CSS file */

body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.collapse-master {
	cursor: pointer;
}

.dropdown-menuitem {
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	white-space: nowrap;
	cursor: pointer;
}

.dropdown-menuitem:hover,
.dropdown-menuitem:focus {
	background-color: #00000022;
}
