<!-- This file will be imported and used by server software! -->
<table class="table table-hover table-bordered auth-required">
	<thead>
		<tr>
			<td>
				<span class="font-weight-bold">Schlüssel</span>
			</td>
			<td>
				<span class="font-weight-bold">Wert</span>
			</td>
		<tr>
	</thead>
	<tbody>
		<tr>
			<td>
				Vorname
			</td>
			<td>
				{first}
			</td>
		</tr>
		<tr>
			<td>
				Nachname
			</td>
			<td>
				{last}
			</td>
		</tr>
		<tr>
			<td>
				Name
			</td>
			<td>
				{name}
			</td>
		</tr>
		<tr>
			<td>
				Zahl der Zugriffe
			</td>
			<td>
				{accesses}
			</td>
		</tr>
		<tr>
			<td>
				Letzte Logins
			</td>
			<td>
				{logins}
				<br/>
				<span class="text-danger">
					Sollten nicht alle diese Zugriffe von
					<br/>
					dir stammen, so wende dich bitte
					<br/>
					umgehend an den Administrator!
				</span>
			</td>
		</tr>
		<tr>
			<td>
				Gespeicherte Zitate
			</td>
			<td>
				{quotes}
			</td>
		</tr>
		<tr>
			<td>
				Persönlicher Bogen
			</td>
			<td>
				{sites[personal]}
			</td>
		</tr>
		<tr>
			<td>
				Umfrage
			</td>
			<td>
				{survey}
			</td>
		</tr>
		<tr>
			<td>
				Ranking
			</td>
			<td>
				{ranking}
			</td>
		</tr>
		<tr>
			<td>
				Bild der 1. Klasse
			</td>
			<td>
				{pics[first]}
			</td>
		</tr>
		<tr>
			<td>
				Bild der 12. Klasse
			</td>
			<td>
				{pics[now]}
			</td>
		</tr>
		<tr>
			<td>
				Deine Freundesseite
			</td>
			<td>
				{sites[friends]}
			</td>
		</tr>
		<tr>
			<td>
				Status zur Abizeitung
			</td>
			<td>
				{book_value}
			</td>
		</tr>
	</tbody>
</table>
