<!-- This file will be imported and used by server software! -->
<h5 class="auth-required">
	Nominierungen
</h5>
<p class="auth-required">
	Es wurden bisher insgesamt {num} Rankings abgeschickt.
</p>
<table class="table table-hover table-bordered auth-required">
	<thead>
		<tr>
			<td>
				<span class="font-weight-bold">Kategorie</span>
			</td>
			<td>
				<span class="font-weight-bold">Interne ID</span>
			</td>
			<td>
				<span class="font-weight-bold">Nominierungen</span>
			</td>
		<tr>
	</thead>
	<tbody>
		{tbody}
	</tbody>
</table>
<p class="auth-required text-warning">
	Nur wenn dein Name exakt geschrieben wurde, wird die
	Nominierung für dich hier angezeigt. Daher können sich
	am Ende noch Änderungen ergeben, da die Ergebnisse
	nochmals händisch ausgewertet werden müssen.
</p>
